/*  your css code here. If applicable */
.selector:first-child{
	color:#00f;
	background:#eee;
	font-family:Arial;
	font-size:20px;
	
}
.selector:nth-child(3){
	color:#00f;
	background:#eee;
	font-family:Arial;
	font-size:20px;
	
}